
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<main class="d-flex justify-content-center align-items-center" style="height: 94vh; ">
    <div class="card w-75 h-75">
        <div class="card-body d-flex flex-wrap align-content-center justify-content-around ">

            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3 text-center">
                <i class="fa fa-list-alt mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre d'avenant à faire</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content=" 0" class="bttn-unite bttn-size bttn-danger mx-1 my-3 text-center">
                <i class="fa fa-envelope mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de contrat à préparer</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3 text-center">
                <i class="fas fa-bell mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de contrat à expirer</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3  text-center">
                <i class="fa fa-sticky-note mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de personne en congé</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3  text-center">
                <i class="fa fa-user mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de ECD</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3  text-center">
                <i class="fa fa-users mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de EFA</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3 text-center">
                <i class="fas fa-user-circle mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de Fonctionnaire</span>
            </a>
            <a href="#" data-toggle="popover-hover" data-content="0" class="bttn-unite bttn-size bttn-danger mx-1 my-3 text-center">
                <i class="fa fa-user-secret mt-3 mb-2 fa-lg"></i>
                <span class="d-block">Nombre de HEE</span>
            </a>
        </div>
    </div>
    </div>
</main>
