USE [master]
GO
/****** Object:  Database [GRH]    Script Date: 29/01/2020 09:33:46 ******/
CREATE DATABASE [GRH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GRH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\GRH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GRH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\GRH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GRH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GRH]
GO
USE [GRH]
GO
/****** Object:  Table [dbo].[ACCES]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCES](
	[IDACCES] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MENU] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVANCEMENT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVANCEMENT](
	[IDAVANCEMENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NUMAVANCEMENT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVERTISSEMENT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVERTISSEMENT](
	[IDAVERTISSEMENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TYPEAVERTISSEMENT] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGE](
	[IDCONGE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TYPECONGE] [varchar](50) NOT NULL,
	[JOURCONGE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRAT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRAT](
	[IDCONTRAT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NUMCONTRAT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIPLOME]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIPLOME](
	[IDDIPLOME] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LIBELLEDIPLOME] [varchar](50) NOT NULL,
	[PARCOURS] [varchar](250) NOT NULL,
	[CATEGORIE] [int] NOT NULL,
	[CORPS] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORUM]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORUM](
	[IDFORUM] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MESSAGE] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[IDGRADE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IDSTATUT] [numeric](18, 0) NOT NULL,
	[ECHELON] [int] NULL,
	[CLASSE] [int] NULL,
	[INDICE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIQUE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIQUE](
	[IDHISTORIQUE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LIBELLEHISTORIQUE] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTEGRATION]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTEGRATION](
	[IDINTEGRATION] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[STATUTINTEGRATION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALITE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALITE](
	[IDLOCALITE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LOCALITE] [varchar](50) NOT NULL,
	[DIRECTION] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONNELS]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNELS](
	[IDPERSONNEL] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IDSTATUT] [numeric](18, 0) NOT NULL,
	[IDDIPLOME] [numeric](18, 0) NOT NULL,
	[IDRECLASSEMENT] [numeric](18, 0) NULL,
	[IDLOCALITE] [numeric](18, 0) NOT NULL,
	[IDSERVICE] [numeric](18, 0) NOT NULL,
	[IDRETRAITE] [numeric](18, 0) NULL,
	[IDINTEGRATION] [numeric](18, 0) NULL,
	[NOM] [varchar](50) NOT NULL,
	[PRENOM] [varchar](50) NOT NULL,
	[SEXE] [varchar](10) NOT NULL,
	[DDN] [datetime] NOT NULL,
	[MATRICULE] [varchar](50) NULL,
	[NATIONALITE] [varchar](30) NOT NULL,
	[CIN] [varchar](50) NOT NULL,
	[DATECIN] [datetime] NOT NULL,
	[LIEUCIN] [varchar](50) NOT NULL,
	[DUPLICATACIN] [varchar](50) NULL,
	[DATEDUPLICATA] [datetime] NULL,
	[PHOTO] [image] NULL,
	[DATEENTREE] [datetime] NOT NULL,
	[DATERECLASSEMENT] [datetime] NOT NULL,
	[DATEINTEGRATION] [datetime] NOT NULL,
	[DATEAFFECTATION] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFIL]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL](
	[IDPROFIL] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[STATUTPROFIL] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_PERSO_AVANCEMENT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_PERSO_AVANCEMENT](
	[IDAVANCEMENT] [numeric](18, 0) NOT NULL,
	[IDPERSONNEL] [numeric](18, 0) NOT NULL,
	[DATEAVANCEMENT] [datetime] NOT NULL,
 CONSTRAINT [PK_R_PERSO_AVANCEMENT] PRIMARY KEY CLUSTERED 
(
	[IDAVANCEMENT] ASC,
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_PERSO_AVERTISSEMENT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_PERSO_AVERTISSEMENT](
	[IDPERSONNEL] [numeric](18, 0) NOT NULL,
	[IDAVERTISSEMENT] [numeric](18, 0) NOT NULL,
	[DATEAVERTISSEMET] [datetime] NOT NULL,
	[MOTIFAVERTISSEMENT] [varchar](100) NOT NULL,
 CONSTRAINT [PK_R_PERSO_AVERTISSEMENT] PRIMARY KEY CLUSTERED 
(
	[IDPERSONNEL] ASC,
	[IDAVERTISSEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_PERSO_CONGE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_PERSO_CONGE](
	[IDCONGE] [numeric](18, 0) NOT NULL,
	[IDPERSONNEL] [numeric](18, 0) NOT NULL,
	[DATEDEBCONGE] [datetime] NOT NULL,
	[DATEFINCONGE] [datetime] NOT NULL,
	[JOURSPRIS] [int] NOT NULL,
	[MOTIF] [varchar](250) NOT NULL,
 CONSTRAINT [PK_R_PERSO_CONGE] PRIMARY KEY CLUSTERED 
(
	[IDCONGE] ASC,
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_PERSO_CONTRAT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_PERSO_CONTRAT](
	[IDCONTRAT] [numeric](18, 0) NOT NULL,
	[IDPERSONNEL] [numeric](18, 0) NOT NULL,
	[STATUTCONTRAT] [varchar](50) NOT NULL,
	[DATECONTRAT] [datetime] NOT NULL,
 CONSTRAINT [PK_R_PERSO_CONTRAT] PRIMARY KEY CLUSTERED 
(
	[IDCONTRAT] ASC,
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_PROFIL_ACCES]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_PROFIL_ACCES](
	[IDPROFIL] [numeric](18, 0) NOT NULL,
	[IDACCES] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_R_PROFIL_ACCES] PRIMARY KEY CLUSTERED 
(
	[IDPROFIL] ASC,
	[IDACCES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_USER_FORUM]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_USER_FORUM](
	[IDFORUM] [numeric](18, 0) NOT NULL,
	[IDUSER] [numeric](18, 0) NOT NULL,
	[DATEEVOIE] [datetime] NOT NULL,
 CONSTRAINT [PK_R_USER_FORUM] PRIMARY KEY CLUSTERED 
(
	[IDFORUM] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_USER_HISTORIQUE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_USER_HISTORIQUE](
	[IDUSER] [numeric](18, 0) NOT NULL,
	[IDHISTORIQUE] [numeric](18, 0) NOT NULL,
	[DATEHISTORIQUE] [datetime] NOT NULL,
 CONSTRAINT [PK_R_USER_HISTORIQUE] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC,
	[IDHISTORIQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECLASSEMENT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECLASSEMENT](
	[IDRECLASSEMENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DIPLOMEARECLASSER] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETRAITE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETRAITE](
	[IDRETRAITE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DATERETRAITE] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[IDSERVICE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FONCTION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUT]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUT](
	[IDSTATUT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TYPESTATUT] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 29/01/2020 09:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[IDUSER] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IDPROFIL] [numeric](18, 0) NOT NULL,
	[LOGINUSER] [varchar](50) NOT NULL,
	[MDP] [varchar](250) NOT NULL,
	[NOMUSER] [varchar](50) NOT NULL,
	[PRENOMUSER] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[TELINSCRIPTION] [varchar](50) NULL,
	[PHOTOUSER] [varchar](100) NULL,
	[DATEPROFIL] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCES] ON 

INSERT [dbo].[ACCES] ([IDACCES], [MENU]) VALUES (CAST(1 AS Numeric(18, 0)), N'Accueil')
INSERT [dbo].[ACCES] ([IDACCES], [MENU]) VALUES (CAST(2 AS Numeric(18, 0)), N'Paramétrage')
INSERT [dbo].[ACCES] ([IDACCES], [MENU]) VALUES (CAST(3 AS Numeric(18, 0)), N'Administration')
SET IDENTITY_INSERT [dbo].[ACCES] OFF
SET IDENTITY_INSERT [dbo].[PROFIL] ON 

INSERT [dbo].[PROFIL] ([IDPROFIL], [STATUTPROFIL]) VALUES (CAST(1 AS Numeric(18, 0)), N'Administrateur')
INSERT [dbo].[PROFIL] ([IDPROFIL], [STATUTPROFIL]) VALUES (CAST(2 AS Numeric(18, 0)), N'Gestion ECD')
INSERT [dbo].[PROFIL] ([IDPROFIL], [STATUTPROFIL]) VALUES (CAST(3 AS Numeric(18, 0)), N'Gestion EFA')
SET IDENTITY_INSERT [dbo].[PROFIL] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([IDUSER], [IDPROFIL], [LOGINUSER], [MDP], [NOMUSER], [PRENOMUSER], [EMAIL], [TELINSCRIPTION], [PHOTOUSER], [DATEPROFIL]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'admin', N'4813494D137E1631BBA301D5ACAB6E7BB7AA74CE1185D456565EF51D737677B2', N'Andrinirina', N'Nicolas', N'nicolas@admin.mg', NULL, N'nicolas.jpeg', CAST(N'2020-01-28T00:00:00.000' AS DateTime))
INSERT [dbo].[USER] ([IDUSER], [IDPROFIL], [LOGINUSER], [MDP], [NOMUSER], [PRENOMUSER], [EMAIL], [TELINSCRIPTION], [PHOTOUSER], [DATEPROFIL]) VALUES (CAST(11 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'tahiry', N'4813494D137E1631BBA301D5ACAB6E7BB7AA74CE1185D456565EF51D737677B2', N'Tahiry', N'Tahiry', N'tahiry@admin.mg', N'0345698745', NULL, CAST(N'2020-01-29T09:29:33.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[USER] OFF
/****** Object:  Index [PK_ACCES]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[ACCES] ADD  CONSTRAINT [PK_ACCES] PRIMARY KEY NONCLUSTERED 
(
	[IDACCES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_AVANCEMENT]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[AVANCEMENT] ADD  CONSTRAINT [PK_AVANCEMENT] PRIMARY KEY NONCLUSTERED 
(
	[IDAVANCEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_AVERTISSEMENT]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[AVERTISSEMENT] ADD  CONSTRAINT [PK_AVERTISSEMENT] PRIMARY KEY NONCLUSTERED 
(
	[IDAVERTISSEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CONGE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[CONGE] ADD  CONSTRAINT [PK_CONGE] PRIMARY KEY NONCLUSTERED 
(
	[IDCONGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CONTRAT]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[CONTRAT] ADD  CONSTRAINT [PK_CONTRAT] PRIMARY KEY NONCLUSTERED 
(
	[IDCONTRAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DIPLOME]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[DIPLOME] ADD  CONSTRAINT [PK_DIPLOME] PRIMARY KEY NONCLUSTERED 
(
	[IDDIPLOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FORUM]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[FORUM] ADD  CONSTRAINT [PK_FORUM] PRIMARY KEY NONCLUSTERED 
(
	[IDFORUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_GRADE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[GRADE] ADD  CONSTRAINT [PK_GRADE] PRIMARY KEY NONCLUSTERED 
(
	[IDGRADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_STATUT_GRADE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_STATUT_GRADE_FK] ON [dbo].[GRADE]
(
	[IDSTATUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HISTORIQUE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[HISTORIQUE] ADD  CONSTRAINT [PK_HISTORIQUE] PRIMARY KEY NONCLUSTERED 
(
	[IDHISTORIQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_INTEGRATION]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[INTEGRATION] ADD  CONSTRAINT [PK_INTEGRATION] PRIMARY KEY NONCLUSTERED 
(
	[IDINTEGRATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOCALITE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[LOCALITE] ADD  CONSTRAINT [PK_LOCALITE] PRIMARY KEY NONCLUSTERED 
(
	[IDLOCALITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PERSONNELS]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[PERSONNELS] ADD  CONSTRAINT [PK_PERSONNELS] PRIMARY KEY NONCLUSTERED 
(
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_DIPLOME_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_DIPLOME_FK] ON [dbo].[PERSONNELS]
(
	[IDDIPLOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_INTEGRATION_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_INTEGRATION_FK] ON [dbo].[PERSONNELS]
(
	[IDINTEGRATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_LOCALITE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_LOCALITE_FK] ON [dbo].[PERSONNELS]
(
	[IDLOCALITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_RECLASSEMENT_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_RECLASSEMENT_FK] ON [dbo].[PERSONNELS]
(
	[IDRECLASSEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_RETRAITE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_RETRAITE_FK] ON [dbo].[PERSONNELS]
(
	[IDRETRAITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_SERVICE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_SERVICE_FK] ON [dbo].[PERSONNELS]
(
	[IDSERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_STATUT_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_STATUT_FK] ON [dbo].[PERSONNELS]
(
	[IDSTATUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PROFIL]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[PROFIL] ADD  CONSTRAINT [PK_PROFIL] PRIMARY KEY NONCLUSTERED 
(
	[IDPROFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_AVANCEMENT_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_AVANCEMENT_FK] ON [dbo].[R_PERSO_AVANCEMENT]
(
	[IDAVANCEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_AVANCEMENT2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_AVANCEMENT2_FK] ON [dbo].[R_PERSO_AVANCEMENT]
(
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_AVERTISSEMENT_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_AVERTISSEMENT_FK] ON [dbo].[R_PERSO_AVERTISSEMENT]
(
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_AVERTISSEMENT2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_AVERTISSEMENT2_FK] ON [dbo].[R_PERSO_AVERTISSEMENT]
(
	[IDAVERTISSEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_CONGE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_CONGE_FK] ON [dbo].[R_PERSO_CONGE]
(
	[IDCONGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_CONGE2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_CONGE2_FK] ON [dbo].[R_PERSO_CONGE]
(
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_CONTRAT_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_CONTRAT_FK] ON [dbo].[R_PERSO_CONTRAT]
(
	[IDCONTRAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PERSO_CONTRAT2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PERSO_CONTRAT2_FK] ON [dbo].[R_PERSO_CONTRAT]
(
	[IDPERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PROFIL_ACCES_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PROFIL_ACCES_FK] ON [dbo].[R_PROFIL_ACCES]
(
	[IDPROFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_PROFIL_ACCES2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_PROFIL_ACCES2_FK] ON [dbo].[R_PROFIL_ACCES]
(
	[IDACCES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_USER_FORUM_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_USER_FORUM_FK] ON [dbo].[R_USER_FORUM]
(
	[IDFORUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_USER_FORUM2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_USER_FORUM2_FK] ON [dbo].[R_USER_FORUM]
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_USER_HISTORIQUE_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_USER_HISTORIQUE_FK] ON [dbo].[R_USER_HISTORIQUE]
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_USER_HISTORIQUE2_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_USER_HISTORIQUE2_FK] ON [dbo].[R_USER_HISTORIQUE]
(
	[IDHISTORIQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_RECLASSEMENT]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[RECLASSEMENT] ADD  CONSTRAINT [PK_RECLASSEMENT] PRIMARY KEY NONCLUSTERED 
(
	[IDRECLASSEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_RETRAITE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[RETRAITE] ADD  CONSTRAINT [PK_RETRAITE] PRIMARY KEY NONCLUSTERED 
(
	[IDRETRAITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SERVICE]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[SERVICE] ADD  CONSTRAINT [PK_SERVICE] PRIMARY KEY NONCLUSTERED 
(
	[IDSERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STATUT]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[STATUT] ADD  CONSTRAINT [PK_STATUT] PRIMARY KEY NONCLUSTERED 
(
	[IDSTATUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_USER]    Script Date: 29/01/2020 09:33:47 ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [R_USER_PROFIL_FK]    Script Date: 29/01/2020 09:33:47 ******/
CREATE NONCLUSTERED INDEX [R_USER_PROFIL_FK] ON [dbo].[USER]
(
	[IDPROFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
